<table class="tabela">
    <tr>
        <td>
            {{usuario.nome}}
        </td>
        <td>
            {{usuario.cpf}}
        </td>
        <td>
            {{usuario.telefone}}

        </td>
        <td>
            {{usuario.rua}}

        </td>
        <td>
            {{usuario.numero}}

        </td>
        <td>
            {{usuario.bairro}}

        </td>
        <td>

            {{usuario.cidade}}
        </td>

        <td>
            {{usuario.codigo}}

        </td>

    </tr>
</table>