.div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.div h2 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 8px;
}


.div h3 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 16px;
}


.div p {
    font-size: 20px;
    margin-bottom: 8px;
}