.main {
	width: 80vh;
	padding: 16px;
	margin: 0 auto;
	background-color: brown;
	border: none;
	border-radius: 16px;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.lista{
	width: 100vh;
}

